<html>
<head>
  <title>{{{Title}}}</title>
</head>
<body>
  <ul>
    <li>{{{Creator}}}</li>
    <li>{{{Title}}}</li>
    <li>{{{Subject}}}</li>
    <li>{{{Identifier}}}</li>
  </ul>  
</body>
</html>
