<html>
<head>
  <title>{{{Title}}}</title>
</head>
<body>
  <header> 
    {{> header}}
  </header>
  <ul>
    <li>{{{Creator}}}</li>
    <li>{{{Title}}}</li>
    <li>{{{Subject}}}</li>
    <li>{{{Identifier}}}</li>
  </ul>  

  <footer>
    {{> footer}}
  </footer>
</body>
</html>
