<html>
<head>
  <title>{{{Title}}}</title>
</head>
<body>
  <header> 
    <h1> Allegheny Archives </h1>
  </header>
 
  {{{content}}} 

  <footer>
    <p>Allegheny College 2022</p>
  </footer>
</body>
</html>
